<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>JUEGO DE DADOS</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
	<div class="container my-4">
		<h1>JUEGO DE DADOS</h1>
		      <hr>
		<div class="row">
    <div class="col">
	<hr>
	<h2>ACTUALIZAR DATOS</h2>

	<form action="#" th:action="@{/Players/update}" th:object="${jugadordto}" method="POST">

		<input type="hidden" th:field="*{jugador_id}" />

		<input type="text" th:field="*{nombre}" class="form-control mb-4 col-4">



		<button type="submit" class="btn btn-lg btn-danger"> Actualizar jugador</button>
	</form>

	<hr>

	<a th:href="@{/Players/}" class="btn btn-lg btn-primary">Volver al listado</a>
	</div>
</body>

</html>